* {
}

body {
    font-family: 'Fredoka One', cursive;
}

h1 {
    color: rgb(40, 91, 132);
    font-size: 60px;
    border-bottom: 0px;
}

h5 {
    color: rgb(40, 91, 132);
    border-top: 0px;
    font-size: 20px;
}

button {
    height: 40px;
    width: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(40, 91, 132);
    border: 0px;
    border-radius: 5px;
    margin-right: 5px;
}

#playerAddScoreBtn {
    height: 67px;
    width: 70px;
    font-size: 20px;
    color: white;
    background-color: rgb(40, 91, 132);
    border: 0px;
    border-radius: 5px;
    margin-right: 5px;
}

#playerRemoveScoreBtn {
    height: 67px;
    width: 70px;
    font-size: 20px;
    color: white;
    background-color: rgb(40, 91, 132);
    border: 0px;
    border-radius: 5px;
    margin-right: 5px;
}



input {
    height: 40px;
    font-size: 15px;
    border-color: rgb(40, 91, 132);
    border-radius: 5px;
}

label {
    font-size: 20px;
}

p {
    font-size: 20px;
}