* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    background-color: #E8E9F3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    background-color: white;
    width: 100%;
}

header {
    margin: 20px;
    color: rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #78b2c1;
}

p {
    font-size: 20px;
    color: #272635;
}

a {
    text-decoration: none;
}

.squaresBlank {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

.squares {
    background-color: rgb(255, 255, 255);
    color: #78b2c1;
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

.squaresVictory {
    background-color: #78b2c1;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);    

}

#resetScore {
    background-color: #78b2c1;
    color: white;
    margin: 20px;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-size: 17px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

#restart {
    background-color: #78b2c1;
    color: white;
    margin: 20px;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-size: 17px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}