* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
    background-color: #E8E9F3;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main {
    background-color: white;
    width: 100%;
}

header {
    margin: 20px;
    color: rgb(108, 108, 108);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 50px;
    color: #78b2c1;
}

h4 {
    color: #4d4d4d;
}

p {
    font-size: 20px;
    color: #272635;
}

.squaresBlank {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

.squares {
    background-color: rgb(255, 255, 255);
    color: #78b2c1;
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

.squaresVictory {
    background-color: #78b2c1;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 0px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);    

}

#resetScore, #restart {
    background-color: #78b2c1;
    color: white;
    margin: 10px;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

#addGameButton, #joinLobby {
    background-color: #78b2c1;
    color: white;
    margin: 10px;
    width: 250px;
    height: 100px;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}

#inviteButton, #returnButton {
    background-color: #23454d;
    color: white;
    margin: 10px;
    width: 130px;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-size: 15px;
    box-shadow: 2px 2px 5px rgb(204, 204, 204);
}


#addGameSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    background-color: white;
    width: 230px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}